@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,100;1,100&display=swap");
* {
  font-family: "Roboto", "Open Sans", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #252d44;
  font-family: Roboto;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

section.config {
  margin: auto;
}

section.config .config_box {
  display: flex;
  flex-direction: row;
}
section.config .config_box .config_box_check {
  display: flex;
  flex-direction: column;
	margin-right: 25px;
}
section.config .config_box .config_box_check .habilitar_check {
  margin-bottom: 15px;
}
section.config .config_box .config_box_check .habilitar_check .title {
  font-size: 25px;
  color: white;
}
section.config .config_box .config_box_check .habilitar_check .check_option {
  display: flex;
  flex-direction: row;
}
section.config
  .config_box
  .config_box_check
  .habilitar_check
  .check_option
  button {
  padding: 10px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  background-color: #d9d9d9;
  border: none;
  margin-right: 5px;
	cursor: pointer;
}

section.config .config_box .config_box_check .box_check {
  display: flex;
  flex-direction: column;
}
section.config .config_box .config_box_check .box_check .title_check{
	color: white;
	font-size: 15px;
}
section.config .config_box .config_box_check .box_check .box_date_check {
  display: flex;
  flex-direction: row;
}

section.config .config_box .config_box_check .box_check .box_date_check .input_date {
	width: 100%;
}
section.config .config_box .config_box_check .box_check .box_date_check .input_date input{
	font-size: 15px;
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
}
/* section.config .config_box .config_box_check .box_check .box_date_check .input_time{

} */
section.config .config_box .config_box_check .box_check .box_date_check .input_time input{
	font-size: 15px;
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
}
section.config .config_box .config_box_check .title{
	font-size: 25px;
	color: white;

}
section.config .config_box .config_box_check .participantes{
  display: flex;
  flex-direction: row;
}
section.config .config_box .config_box_check .participantes .buttons{
	width: 100%;
}
section.config .config_box .config_box_check .participantes .buttons button{
	padding: 10px;
	height: 40px;
	font-size: 15px;
	font-weight: bold;
	background-color: #d9d9d9;
	border: none;
	margin-right: 5px;
	cursor: pointer;
}

section.config .config_box .config_box_check .participantes .{
	padding: 10px;
	height: 40px;
	font-size: 15px;
	font-weight: bold;
	background-color: #d9d9d9;
	border: none;
	margin-right: 5px;
	cursor: pointer;
}



