@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto&family=Suez+One&family=Teko:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

body {
  background-color: #252D44;
  height: 100vh;
  display: flex;
}

/*Inicia a seção de criar torneios*/
section.criar_Torneio {
  margin: auto;
  width: 1096px;
  font-family: "Roboto", "Open Sans", sans-serif;
}

section.criar_Torneio .title h1 {
  color: white;
}

section.criar_Torneio form {
  background-color: #1E2033;
  width: 100%;
  padding: 63px;
}

section.criar_Torneio form .torneio_form {
  margin-top: 10px;
}

section.criar_Torneio form .torneio_form .torneio_label {
  margin-bottom: 5px;
}

section.criar_Torneio form .torneio_form .torneio_label label {
  font-size: 20px;
  color: white;
}

#margin_top {
  margin-top: 36px;
}

section.criar_Torneio form .torneio_form input,
select {
  width: 329px;
  height: 40px;
  padding-left: 5px;
  background-color: #D9D9D9;
}

section.criar_Torneio form .torneio_form select {
  cursor: pointer;
}

section.criar_Torneio form .torneio_form input[type=submit] {
  width: 130px;
  height: 40px;
  padding-left: 5px;
  background-color: #B0BEC5;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

section.criar_Torneio form .torneio_form .torneio_buttons {
  display: flex;
}

section.criar_Torneio form .torneio_form .torneio_buttons .jogador {
  background-color: #D9D9D9;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
  font-size: 15px;
}

section.criar_Torneio form .torneio_form .torneio_buttons .jogador:hover {
  background-color: #a4a4a4;
}

section.criar_Torneio form .torneio_form .torneio_buttons .equipe {
  background-color: #D9D9D9;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
}

section.criar_Torneio form .torneio_form .torneio_buttons .equipe:hover {
  background-color: #a4a4a4;
}

section.criar_Torneio form .torneio_form .torneio_mode_imgs {
  display: flex;
  width: 100%;
}

section.criar_Torneio form .torneio_form .torneio_mode_imgs .mode_imgs {
  width: 140px;
  height: 180px;
  margin: 10px;
  cursor: pointer;
}

section.criar_Torneio form .torneio_form .torneio_mode_imgs .mode_imgs img {
  width: 100%;
  height: 100%;
}

section.criar_Torneio form .torneio_form .torneio_mode_imgs .mode_imgs img:hover {
  transform: scale(1.1);
}




/*Aqui termina*/