@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,100;1,100&display=swap");
*{
    font-family: "Roboto","Open Sans", sans-serif;
}
body{
   padding: 0;
   margin: 0;
   font-family: Roboto;
   font-size: 20px;
}

/*inicio: header*/

header.cabeçalho{
    min-width: 50vw;
    min-height: 8vh;
    max-height: 15vh;
    background-color: #1e2033;
    position: fixed;
}
div.opc{
    display: flex;
    color: white;
    margin-left: 30vw;
    font-size: 18px;
}
div.opc h2{
    margin-right: 8vw;
    margin-top: 2.7vh;
}
div.opc h2:hover{
    background-color: #12af3c;
    border-radius: 5px;
}
#ini{
    background-color: #12af3c;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
#botao{
    color: black;
    background-color: #00FF43;
    min-height: 5vh;
    min-width: 12vw;
    font-size: 25px;
    margin-top: 2.3vh;
    margin-left: 2vw;
}
#logo{
    float: left;
    margin-top: 2.1vh;
    margin-left: 1vw;
}

/*Fim: header*/

/*Início: seção 1*/

section.sec1{
    margin:0%;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url("../images/inicio.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*Fim: seção 1*/

/*Inicio: seção 2*/

section.sec2{
    margin:0%;
    padding: 0%;
    width: 100%;
    height: 70vh;
    background-image: url("../images/inicio2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
section.sec2 h2{
    margin:0;
    padding-top: 10vh;
    color:white;
    text-align: center;
}
section.sec2 h3{
    text-align: center;
    color: white;
    font-size: 37px;
}

/*Fim: seçao 2*/

/*Inicio: seção 3*/

section.sec3{
    margin:0%;
    padding: 0%;
    width: 100%;
    height: 70vh;
    background-image: url("../images/inicio3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
section.sec3 h2{
    margin: 0%;
    padding-top: 21vh;
    padding-left: 23vw;
    color: #607D8B;
    font-size: 30px;
}
section.sec3 h3{
    color:white;
    font-size: 30px;
    padding-top: 3vh;
    padding-left: 23vw;
    margin: 0;
}

/*Fim: seção 3*/

/*Inicio: seção 4*/

section.sec4{
    background-color: #252D44;
    width: 100%;
    height: 60vh;
}
section.sec4 h2{
    margin: 0;
    padding-top: 10vh;
    padding-left: 37vw;
    color:#607D8B;
}
section.sec4 h3{
    color:white;
    margin-left: 39vw;
    margin-top: 1vh;
    
}

/*Fim: seção 4*/

/*Inicio: seção 5*/

section.sec5{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 80vh;
    background-image: url("../images/inicio4.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
section.sec5 h2{
    color: #12af3c;
}
section.sec5 h3{
    color: white;
}
div.info_up{
    display: flex;
}
div.info1{
    color: #00FF43;
    text-align: center;
    margin-top: 15vh;
    margin-left: 18vw;
}
#icon1{
    font-size: 150px;
}
div.info2{
    color: #00FF43;
    text-align: center;
    margin-left: 6.8vw;
    margin-top: 15vh;
}
#icon2{
    font-size: 150px;
}
div.info3{
    color: #00FF43;
    text-align: center;
    margin-left: 6.8vw;
    margin-top: 15vh;
}
#icon3{
    font-size: 150px;
}

/*Fim: seção 5*/


/*Inicio: seção 6*/

section.sec6{
    background-color: #252D44;
    width: 100%;
    height: 50vh;
}
div.complemento{
    display: flex;
}
div.complemento h2{
    color: #00FF43;
}
div.complemento h3{
    color: white;
}
div.saiba_mais{
    margin-left: 15vw;
    margin-top: 4.6vh;
}
div.suporte{
    margin-left: 15vw;
    margin-top: 4.6vh;
}
div.contato{
    margin-left: 15vw;
    margin-top: 4.6vh;
}
div.redes_sociais{
    display: flex;
    margin-left: 70vw;
    font-size: 60px;
    color: #A6A6A6;
}
#margin_icon{
    margin-left: 5vh;
}

/*Fim: seção 6*/

/*Inicio: rodapé*/

section.sec7{
    background-color: #252D44;
    width: 100%;
    height: 5vh;
    margin-top: -7.9vh;
    color: white;
    text-align: center;
}

/*Fim: rodapé 7*/

