body{
    background-color: #252d44;
}
.participantes_title{
    text-align: center;
}
.participantes{
    text-align: center;
    display:flex  
}
.box_tela{
   margin-left: 15%;
   border-radius: 5px;
   background-color: white;
   padding-right: 10%;
   padding-left: 10%;
   box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.438);
   
}
.number{
    font-size: 70px;
}

.lista_participantes{
    height: 400px;
    width: 60%;
    color: white;
    background-color: #1E2033;
    text-align: center;
    margin-left: 20%;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.438);
}
.java{
    color: black;
    font-size: 25px;
}
