@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,100;1,100&display=swap");

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

* {
  font-family: "Roboto", "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #252d44;
}

/*Inicio da pagina de register*/
section.register {
  margin: 100px auto;
  width: 500px;
}

section.register h1 {
  color: white;
  font-size: 25px;
}

section.register .register_form {
  background-color: #1e2033;
  padding: 5%;
}

section.register .register_form .register_form_group {
  width: 100%;
  margin-top: 10px;
}

section.register .register_form .register_form_group label {
  color: white;
  font-size: 20px;
}

section.register .register_form .register_form_group label>a {
  color: #00FF43;
  font-size: 20px;
}

section.register .register_form .register_form_group input {
  width: 100%;
  height: 30px;
  margin: 15px 0px;
  background-color: #1e2033;
  border: none;
  border-bottom: 1px solid white;
}

section.register .register_form .register_form_group input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin: 0px;
  cursor: pointer;
}

section.register .register_form .register_form_group input[type=button] {
  width: 125px;
  height: 40px;
  background-color: #00FF43;
  border: none;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  margin: 7px 36.2%;
}

/*Fim da pagina de register*/