body{
    background-color: #252D44;
    margin: 0px;
	padding: 0px;
}
/* o que deseja com nossos serviços */
h2{
    color: #fff;
    text-align: center;
    margin-top: 8%;
    font-size: 30px;
}
/* tela de gamer */
.tela_1{
    color: #fff;
    border: 5px solid #1E2033;
    border-radius: 2%;
    background-color: #1E2033;
    text-align: center;
    margin-top: 10%;
    margin-right: 60%;
    margin-left: 5%;
    border: 4px solid #00A2FF;
}
/* tela do trofeu */
.tela_2{
    color: #fff;
    border: 5px solid #1E2033;
    border-radius: 2%;
    background-color: #1E2033;
    text-align: center;
    margin-top: -20%;
    margin-left: 61%;
    margin-right: 5%;
    border: 4px solid #00A2FF;
    
}
