@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&family=Roboto:ital,wght@0,100;1,100&display=swap%22");

* {
  font-family: "Roboto", "Open Sans", sans-serif;
}
body{
    background-color: #252D44;
    margin: 0px;
	padding: 0px;
}
/* o que deseja com nossos serviços */
h2{
    color: #fff;
    text-align: center;
    margin-top: 8%;
    font-size: 30px;
}
/* tela de gamer */
.box_tela{
    color: #fff;
    border-radius: 2%;
    background-color: #1E2033;
    text-align: center;
    border: 4px solid #00A2FF;
    width: 500px;
    margin-left: 17px;
    padding: 20px;
}
/* tela do trofeu */
.box_tela{
    color: #fff;
    border-radius: 2%;
    background-color: #1E2033;
    text-align: center;
    border: 4px solid #00A2FF;
    width: 500px;
    margin-left: 17px;
    padding: 20px;
}

